
:where(.css-dev-only-do-not-override-1sd94qb).ant-float-btn-group-circle .ant-float-btn-circle:not(:last-child) .ant-float-btn-body{
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
}

:where(.css-dev-only-do-not-override-umlzlu).ant-float-btn-group-circle .ant-float-btn-circle:not(:last-child) .ant-float-btn-body {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
}

:where(.css-dev-only-do-not-override-1bci7t8).ant-float-btn-group{
    width: 55px !important;
    right: 5%;
}

:where(.css-dev-only-do-not-override-m4timi).ant-float-btn-group-circle .ant-float-btn-circle:not(:last-child) .ant-float-btn-body {
    width: 55px !important;
    height: 55px !important;
}

.ant-float-btn-circle{
    width: 55px !important;
    height: 55px !important;
}


:where(.css-dev-only-do-not-override-m4timi).ant-float-btn-group {
    inset-inline-end: 200px !important;
    inset-block-end: 50px !important;
}

:where(.css-dev-only-do-not-override-1bci7t8).ant-float-btn .ant-float-btn-body .ant-float-btn-content{
    width: 55px !important;
    height: 55px !important;

    path{
        width: 55px !important;
        height: 55px !important;
        svg{
            width: 100% !important;
            height: 100% !important;
        }
    }
}

:where(.css-dev-only-do-not-override-1bci7t8).ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
    .anticon{
        width: 20px !important;
        height: 20px !important;
        svg{
            width: 100% !important;
            height: 100% !important;
        }
    }
}
