:where(.css-dev-only-do-not-override-1bci7t8).ant-float-btn-group{
    width: 55px !important;
    right: 5%;
}

:where(.css-dev-only-do-not-override-m4timi).ant-float-btn-group-circle .ant-float-btn-circle:not(:last-child) .ant-float-btn-body {
    width: 55px !important;
    height: 55px !important;
}

.ant-float-btn-circle{
    width: 55px !important;
    height: 55px !important;
}


:where(.css-dev-only-do-not-override-m4timi).ant-float-btn-group {
    inset-inline-end: 200px !important;
    inset-block-end: 50px !important;

}
