@import './variables.scss';

*{
    padding: 0;
    margin: 0;
}
#root{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: $color-secundario;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: $color3;
    &:hover{
        color: $color1;
    }
}


.kronos-select{
    flex: 1 1 auto;
    max-width: 150px;
}

.kronos-slider{
    flex: 10 1 auto;
    max-width: 250px;
}
.kronos-buscador{
    flex: 10 1 auto;
    max-width: 300px;

}

.MuiAutocomplete-inputFocused{
    background-color: red;
}

.MuiAutocomplete-input{
    font-family: $fuente-general !important;
}
