@import './variables.scss';

/*scss de componentes externos*/
@import './floatButton.scss';

*{
    padding: 0;
    margin: 0;
}
#root{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: $color-secundario;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

:where(.css-dev-only-do-not-override-m4timi).ant-color-picker-trigger {
    justify-content: start !important;
}
