$color1: rgb(53, 60, 153); // Azul oscuro
$color2: rgb(31, 97, 141); // Azul medio
$color3: rgb(61, 133, 171); // Azul claro
$color-black: #333;
$color-white: #f8f8f8;

$fuente-titulo: 'Alata';
$fuente-general: 'LatoRegular';
$fuente-general-ligth: 'LatoLigth';
$fuente-general-thin: 'LatoThin';

$proporcion-aurea-cuadrado: 2.618;
$proporcion-aurea: 1.618;
$proporcion-aurea-inversa: 0.618;
$proporcion-aurea-inversa-cuadrado: 0.382;


@font-face {
    font-family: 'Alata';
    src: url('../../public/fonts/Alata-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LatoThin' ;
    src: url('../../public/fonts/Lato-Thin.ttf') format('truetype');
}


@font-face {
    font-family: 'LatoLigth';
    src: url('../../public/fonts/Lato-Light.ttf') format('truetype');
}

/* Lato Regular */
@font-face {
    font-family: 'LatoRegular';
    src: url('../../public/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Lato Bold */
@font-face {
    font-family: 'LatoBold';
    src: url('../../public/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
