/* src/Calendario.css */
.Calendario {
    max-height: 83vh;
    height: fit-content;
    max-width: 100%;
    width: fit-content;
    overflow-y: auto; /* Permitir scroll horizontal */
    overflow-x: auto; /* Permitir scroll horizontal */

    position: relative; /* Mantiene el contexto para el sticky */
}

.CalendarioProfesor{
    width: 75%;
    margin-inline: auto;
}

.dropdown {
    z-index: 1000;
    background-color: transparent;

}

.dropdown input {
    margin-bottom: 8px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dropdown-item {
    padding: 8px;
    margin: 4px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    color: white;
}

.dropdown-item:hover {
    opacity: 0.9;
}

.casilla {
    min-height: 50px;
    width: 100px;
    background-color: #fbfbfa;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px #dddcdc;
    font-weight: bolder;
}

.encabezado {
    position: sticky;
    top: 0;
    z-index: 1;
}

.columna {
    position: sticky;
    left: 0;
    z-index: 2;
}

.esquina {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}



.hora {
    min-height: 50px;
    width: 100px;
    background-color: #fbfbfa;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 .5px #dddcdc;

}


.espacio {
    cursor: pointer;
    min-height: 50px;
    width: 100px;
    background-color: #feffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 .5px #dddcdc;
    font-weight: bolder;
}

.espacio:hover {
    filter: brightness(95%);
}

.espacioProfesor {
    cursor: pointer;
    min-height: 50px;
    width: 100px;
    background-color: #feffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px #dddcdc;
    font-weight: bolder;
    color: black;
}


.calendar-tooltip{
    .ant-tooltip-inner{
        padding: 10px 20px;
        min-width: 250px;
    }
    a{
        text-decoration: none;
        color: lightblue;
    }
}