@import '../../scss/index.scss';

aside {
    background: linear-gradient(to bottom, $color3, $color1);  /* Degradado lineal de arriba a abajo */
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 300px;
    .colegio{
        height: 30vh;
        width: 100%;
    }



}

