@import '../../scss/index.scss';

aside {
    background: linear-gradient(to bottom, $color3, $color1);  /* Degradado lineal de arriba a abajo */
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 250px;
    border-radius: 0 25px 25px 0;
}

