.filtros-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;
}

.container{
    background-color: red;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}