.contenedor-filtros-eventos {
  width: 100%;
  margin-top: 1.5vh;

  .filters-container {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    width: 90%;

    // Mostrar scrollbar
    scrollbar-width: thin; // Estilo para navegadores compatibles
    -ms-overflow-style: auto; // Compatibilidad con IE

    &::-webkit-scrollbar {
      display: block; // Asegura que sea visible
      height: 6px; // Altura de la barra de desplazamiento
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc; // Color de la barra
      border-radius: 10px; // Esquinas redondeadas
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1; // Color del fondo de la pista
    }

    & > * {
      flex: 0 0 auto;
      min-width: max-content;
    }
  }
}

.eventos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 15px;
  height: 86.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f1f2f4;
  box-shadow: 0 0 0 3px #f1f2f4;

  .evento-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 100%;

    .evento-content {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h6 {
        color: #333;
        margin: 0;
      }

      .evento-details {
        p {
          margin: 0;
        }
      }
    }
  }

  .no-eventos {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .contenedor-filtros-eventos {

    .filters-container {
      padding-bottom: 10px;
      -webkit-overflow-scrolling: touch;
    }
  }

  .eventos-grid {
    grid-template-columns: 1fr;
    padding: 12px;

    .evento-card {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.formInfoEventItem {
  .css-dev-only-do-not-override-m4timi {
    align-items: center;
  }
}
