@import '../../scss/index.scss';

:root {
  --color: #{$color2};
}

.parent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  font-family: $fuente-general-light;
  .A{
    background-color: red;
  }
}
