

$color1: #0E4942; // Azul oscuro
$color2: #006D62; // Azul medio
$color3: #006D58; // Azul claro
$color-secundario: #333;
$color-principal: #E5EFEC;

$fuente-titulo: 'Alata';
$fuente-general: 'RobotoRegular';
$fuente-general-light: 'RobotoLight';
$fuente-general-medium: 'RobotoMedium';

$proporcion-aurea-cuadrado: 2.618;
$proporcion-aurea: 1.618;
$proporcion-aurea-inversa: 0.618;
$proporcion-aurea-inversa-cuadrado: 0.382;


@font-face {
    font-family: 'Alata';
    src: url('../../public/fonts/Alata-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'RobotoRegular';
    src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Lato Bold */
@font-face {
    font-family: 'RobotoMedium';
    src: url('../../public/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../../public/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
