@import '../../scss/index.scss';

.filtros-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-block: 25px;
    min-width: 100%;
    width: fit-content;

}