@import '../../scss/index.scss';

.contenedor-filtros-materias{
  justify-content: space-between;
  padding-inline: 3vw;
}

.filtros-container > * {
  flex: 1 1 auto; 
}


.table-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%; 
  margin: 0 auto;
}


.filtros-container .ant-radio-group {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px; 
}

@media (max-width: 600px) { 
  .filtros-container .ant-radio-group {
      flex-direction: column; 
      align-items: flex-start; 
  }
}

