@import '../../scss/index.scss';

.filtros-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-block: 25px;
    width:auto;
    padding-inline:100px;
    gap:25px;
}