@import '../../scss/index.scss';

.body {
    font-family: $fuente-general;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    h1{
        font-family: $fuente-titulo;
        color: $color1;
    }
    form{
        text-align: left;
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-evenly;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: start;
            a{  

                font-family: $fuente-general-ligth;
            }
        }
        .botones{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            a{   
                height: 20px;
                font-size: 20px;
                font-family: $fuente-general;
                text-decoration: none;
                color: $color3;
                &:hover{
                    color: $color1;
                }
            }
        }
    }
    p{
        color: red;
        width: 100%;
        text-align: left;
        font-family: $fuente-general-ligth;
    }
}

