

.contenedor-filtros-horario{
  justify-content: flex-start;
  gap: 30px;
  height: 10vh !important;
}
.table_horario {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th_horario, .td_horario {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
  }
  
  .th_horario {
    background-color: grey;
    color: white;
  }
  
  .inputHorarios {
    width: 100%;
    border: none;
    text-align: center;
  }
  
  .inputHorarios:focus {
    outline: none;
  }
  
  td input {
    background-color: #fff;
  }

  
  
  .info-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
  }
  