@import "../../scss/index.scss";

.page-events {
  padding: 20px;
  height: 100vh;
  overflow: scroll;

  h3 {
    margin-bottom: 20px;
  }

  .events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-content {
    flex-grow: 1;
  }
}

.event-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 25px;
  width: auto;
  padding-left: 50px;
}
