input{
    width: 200px;
    height: 33px;
    padding: 10px;
    border: none;
    border-bottom: 0.5px solid #000000;
    transition: all 0.3s;
    &:focus {
        outline: none;
        border-bottom: 0.5px solid #000000;
    }
    &::placeholder {
        content: "buscador";
        color: #000000;
    }
}