@import '../../scss/index.scss';


.buscador-container{
    width: 15%;
    border-bottom: 1.5px $color-secundario solid;
    display: flex;
    align-items: center;

    input{
        width: 80%;
        background-color: transparent;
        outline: none;
        border: none;
        padding-left: 10px;
        font-family: $fuente-general-light;
        height: calc(2.618*15px);
        appearance: none;
        &::placeholder{
            font-family: $color-secundario;
        }
    }
    span{
        cursor: pointer;
        width: 15%;
        padding-right: 15px;
    }
}
