@import '../../scss/index.scss';


.page-events {
    padding: 20px;
  
    h3 {
      margin-bottom: 20px;
    }
  
    .events-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
  }
   