@import '../../scss/index.scss';


.landig{
    min-height: 100vh;
    background-color: $color-principal;
    font-family: $fuente-titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}