.formItemProfile {
    .css-dev-only-do-not-override-m4timi {
      align-items: center;
    }
  }

.selected{
    background-color: green;
    color: #000;
}
.NotSelected{
    background-color: red;
    color: #000;
}