@import "../../scss/index.scss";

.logo {
    width: 100%;
    justify-content: center;
    padding: 16px;
    transition: all 0.2s ease;
}

.logo.collapsed .logo-img, .logo.collapsed .logo-select {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.logo-img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-select{
    display: flex;
    margin-inline: auto;
}


.ant-layout-sider {
    .ant-layout-sider-trigger {
        display: none;
    }
}

@media (min-width: 992px) {
    .ant-layout-sider {
        .ant-layout-sider-trigger {
            display: block; 
        }
    }
}



