@import '../../scss/index.scss';

.grid-table {
    display: grid;
    grid-template-areas:
        "header header header"
        "data data data";
    overflow: hidden;

    .header-container {
        font-family: $fuente-titulo;
        font-size: 18px;
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 3px solid $color1;
        background-color: $color2;  
        color: $color-principal;

.header {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.data-row {
    grid-area: data;
    display: table-row;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.row {
    background-color: white;
    border-bottom: 1px solid #0E4942;
    height: 40px;
    text-align: center;
}


            .cell {
                text-align: center;
                padding: 10px;
            }

.data-container {
    display: table;
    width: 100%;
}



.data-cell {
    display: table-cell;
    padding: 8px;
    text-align: center;
}

.data-row:hover {
    background-color: #006D62;
}
.data-row:hover .data-cell{
    color: #ffffff;
}

