@import "../../scss/index.scss";

.MuiDataGrid-filler{
    background-color: $color3;
}

.MuiDataGrid-columnHeaderTitleContainer{
    background-color: transparent;  }

.css-n3fyjk-MuiDataGrid-root .MuiDataGrid-columnHeader--sortable {
    background-color: $color3;

    .MuiDataGrid-columnHeaderTitleContainer{
        background-color: transparent; 
        color: $color-principal;
        font-family: $fuente-titulo;
    }

    svg{
        color: $color-principal;
    }
}

.css-n3fyjk-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    font-family: $fuente-general-light;
}



.MuiDataGrid-footerContainer .MuiDataGrid-withBorderColor .css-wop1k0-MuiDataGrid-footerContainer{
    display: none;
    
}

.css-n3fyjk-MuiDataGrid-root{
    border: none !important;
}



.contenedor-tabla{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    border-radius: 0 0 0 25px;
}