@import '../../scss/index.scss';

.grid-table {
    display: grid;
    grid-template-areas:
        "header header header"
        "data data data";
    overflow: hidden;

    .header-container {
        font-family: $fuente-titulo;
        font-size: 18px;
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 3px solid $color1;
        background-color: $color2;  
        color: $color-principal;

        .header {
            background-color: transparent; /* Background se aplica al contenedor */
            text-align: center;
            padding: 10px;
            font-weight: bold;
        }
        
    }

    .data-container {
        grid-area: data;
        display: grid;

        .row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: white;
            border-bottom: 1px solid $color1;
            height: 40px;

            &:hover {
                background-color: $color2;
            }

            .cell {
                text-align: center;
                padding: 10px;
            }

            &:hover .cell {
                color: white;
            }
        }
    }
}   