@import '../../scss/index.scss';

.solid-select {
    height: 33px;
    width: var(--largo);
    background-color: $color2;
    border-radius: 5px;
    color: white;
    text-align: center;
    -ms-text-size-adjust: 28px;
    appearance: none; /* Eliminar el icono por defecto */
    -webkit-appearance: none; /* Para Safari */
    -moz-appearance: none; /* Para Firefox */
    -o-appearance: none; /* Para Opera */
    /*Cambiar por una imagen o un svg y despues cambiarlo a base64 o podes hacerlo en inkscape*/
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1jaGV2cm9uLWRvd24iPjxwb2x5bGluZSBwb2ludHM9IjYgOSAxMiAxNSAxOCA5Ij48L3BvbHlsaW5lPjwvc3ZnPg==');    
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 20px;
}

.transparent-select {
    height: 33px;
    width: var(--largo);
    border: 3px solid $color-secundario;
    color: $color-secundario;
    background-color: transparent;
    font-family: $fuente-general;
    &:hover {
        border-color: $color2;
        color: $color2;
    }
}